[Unit]
Description=TizenClaw Agent System Service
After=network.target

[Service]
Type=simple
EnvironmentFile=-/run/tizen-system-env
EnvironmentFile=-/run/xdg-root-env
ExecStart=/usr/bin/tizenclaw
Restart=on-failure
User=root
AmbientCapabilities=CAP_SYS_ADMIN CAP_MAC_ADMIN CAP_NET_ADMIN CAP_SYS_PTRACE CAP_SETUID CAP_SETGID CAP_SYS_CHROOT
LimitCORE=infinity
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
